<h1>Add Songs</h1>

<form action="/" method="post">

  <p>
    <label for="song_title" class="form-label">Song Title</label>
    <input name="song[title]" id="song_title">
  </p>

  <p>
    <label for="song_album" class="form-label">Album</label>
    <input name="song[album]" id="song_album">
  </p>

  <p>
    <label for="song_date_of_release" class="form-label">Date of release</label>
    <input name="song[date_of_release]" id="song_date_of_release">
  </p>

  <p>
    <input type="submit" value="Add" class="form-button">
  </p>
</form>