<h1>Edit Person</h1>

<form action="/people/<%= person[:id] %>" method="post">
  <input type="hidden" name="_method" value="put" />

  <p>
    <label for="person_first_name" class="form-label">First name</label>
    <input name="person[first_name]" id="person_first_name" value="<%= person[:first_name] %>">
  </p>

  <p>
    <label for="person_last_name" class="form-label">Last name</label>
    <input name="person[last_name]" id="person_last_name" value="<%= person[:last_name] %>">
  </p>

  <p>
    <label for="person_date_of_birth" class="form-label">Date of birth</label>
    <input name="person[date_of_birth]" id="person_date_of_birth" value="<%= person[:date_of_birth] %>">
  </p>

  <p>
    <input type="submit" value="Update Person" class="form-button">
  </p>
</form>